<app-attendee-form (register)="handleAttendeeRegistration($event)"></app-attendee-form>

@if (submittedAttendeeSignal) {
  <div class="mt-3">
    <h3>Registered Attendee:</h3>
    <p><strong>First Name:</strong> {{ submittedAttendeeSignal.firstName }}</p>
    <p><strong>Last Name:</strong> {{ submittedAttendeeSignal.lastName }}</p>
    <p><strong>Username:</strong> {{ submittedAttendeeSignal.userName }}</p>
  </div>
}
@if (loadingErrors && loadingErrors.length) {
  <div class="alert alert-danger">
    <strong>Oops!</strong> Problems occurred while loading:
    <ul class="mb-0">
      @for (err of loadingErrors; track $index) {
        <li>{{ err }}</li>
      }
    </ul>
  </div>
}
<hr>
<app-speaker-results [speakers]="(Speakers$ | async) || []"></app-speaker-results>


